body {
    font-family: 'Trebuchet MS', Arial;
    background-color: rgb(34, 34, 34);
}

#form {
    text-align: center;
    margin: auto;
    width: 50%;
}

#error {
    background-color: red;
    padding: 22px;
    float: left;
}

#name {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif
}

#weather {
    border-radius: 10px;
    padding: 22px;
    margin: auto;
    width: 20%;
    max-width: 360px;
    min-width: 280px;
    font-size: 160%;
    background-color: rgb(8, 110, 174);
}

#return {
    border-radius: 10px;
    padding: 22px;
    margin: auto;
    width: 20%;
    max-width: 360px;
    min-width: 280px;
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#return:active {
    background-color: rgb(8, 174, 88);
}